$spacing: 8rem;
$spacing--large: 16rem;

$gutter: 2rem;

/// Container's maximum width
/// @type Length
$max-width__no-max: 100%;
$max-width: 160.8rem !default;
$max-width__medium: 124.8rem !default;
$max-width__small: 84rem !default;