h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 600;
	color: $color__black;
	line-height: 1;
}

h1 {
	&.title {
		margin-top: 0;
		font-size: 11.2rem;
		line-height: 1;
		@include screen__lt-xl {
			font-size: 0.75 * 11.2rem;
		}
		@include screen__lt-sm {
			font-size: 0.5 * 11.2rem;
		}
	}
}

.h1 {

}

$heading-sizes: (
	h1 : 6rem,
	h2 : 5rem,
	h3 : 2.2rem,
	h4 : 1.8rem,
	h5 : 2.4rem,
	h6 : 1.8rem
);


@mixin font-size__laptop($size) {
	@include screen__lt-xl {
		font-size: 0.8 * $size;
	}
}

@mixin font-size__mobile($size) {
	@include screen__lt-sm {
		font-size: 0.6 * $size;
	}
}

@mixin font-size__title($size) {
	font-size: 1.3 * $size;
}

@each $heading,$size in $heading-sizes {
  #{$heading} {
  	@include font-size__mobile($size);
  	@include font-size__laptop($size);
    font-size: $size;
  }
  .heading-#{$heading} {
	@include font-size__mobile($size);
	@include font-size__laptop($size);
  	font-size: $size;
  }
}