.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__grey;
	border-radius: 4px;
	background: $color__grey;
	color: #fff;
	line-height: 1;
	font-size: 1.6rem;
	padding: 1rem 1.6rem;
  	min-width: 24.0rem;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		border-color: $color__grey;
		color: $color__white;
	}
}


.button {
	&--small {
		font-size: 1.2rem;
		padding: 1rem 1.6rem;
		min-width: 10.2rem;
	}
	&--large {
		padding: 1.6rem 2.4rem;
		min-width: 29.2rem;
	}
	&--transparent {
		border-color: $color__grey;
		background: $color__white;
		color: $color__grey;
		&:hover,
		&:active,
		&:focus,
		&:visited {
			border-color: $color__grey;
			background: $color__white;
			color: $color__grey;
		}
	}
}
