input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__black;
	// border: 1px solid $color__black;
	border-radius: 3px;
	padding: 3px;
	background-color: $color__grey--light;
	height: 42px;
	border: none;
	padding-left: 14px;
	padding-right: 14px;
	&:focus {
		color: $color__black;
	}
}

select {
	background-color: $color__grey--light;
	height: 42px;
	border: 0;
	padding-left: 14px;
	padding-right: 14px;
}

textarea {
	width: 100%;
}
