/* Single Post style */
.post  {
    .entry-title {
        max-width: 1000px;
        margin: 40px auto;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.3;
    }
    .entry-content {
        max-width: 1000px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
